
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

@using (Html.BeginForm("UploadCsvFile", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Upload TCs from file</h4>
        <hr />
        <div class="form-group">
            Upload file
            <div class="col-md-10">
                @Html.TextBox("file", "", new { type = "file" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
        @ViewBag.Message
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
