
@{
    ViewBag.Title = "Claim tech company";
}

<h2>Claim tech company</h2>

<p>Claim will be send to administrator for futher action</p>


<section class="mvc-table">
    @Html.Action("ClaimTcGridViewPartial")
</section>
